


/*scrollbar section start*/

::-webkit-scrollbar-button:horizontal:increment{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAABlBMVEXM09b///8OmaLeAAAAAnRSTlP/AOW3MEoAAAAgSURBVHgBY2BEA+QLMGAIMGAIMGAIMBAUIGQoZU5HAwB+ZgDtGYq3fgAAAABJRU5ErkJggg==)}::-webkit-scrollbar-button:increment:double-button,::-webkit-scrollbar-button:no-button,::-webkit-scrollbar-button:vertical:start:increment,::-webkit-scrollbar-button:vertical:end:decrement,::-webkit-scrollbar-button:horizontal:start:increment,::-webkit-scrollbar-button:horizontal:end:decrement{display:none}::-webkit-scrollbar-button:window-inactive:vertical:decrement,::-webkit-scrollbar-button:window-inactive:horizontal:decrement,::-webkit-scrollbar-button:window-inactive:vertical:increment,::-webkit-scrollbar-button:window-inactive:horizontal:increment{}::-webkit-scrollbar-button:active:not(:window-inactive){background:gray}::-webkit-scrollbar-button:horizontal:increment{background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTdweCIgaGVpZ2h0PSIxN3B4IiB2aWV3Qm94PSIwIC0wLjUgMTcgMTciIHZlcnNpb249IjEuMSIgY2xhc3M9InNpLWdseXBoIHNpLWdseXBoLXRyaWFuZ2xlLXVwIj4NCiAgICANCiAgICA8dGl0bGU+MTIzNjwvdGl0bGU+DQogICAgDQogICAgPGRlZnMvPg0KICAgIDxnIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0eWxlPSImIzEwOyAgICB0cmFuc2Zvcm06IHJvdGF0ZSg5MGRlZykgdHJhbnNsYXRlWSgtMTJweCk7JiMxMDsiPg0KICAgICAgICA8cGF0aCBkPSJNNy45NiwyLjM5MiBDOC41NDEsMS44MTIgOS40ODIsMS44MTIgMTAuMDY0LDIuMzkyIEwxNi41MDYsOC44MzYgQzE3LjA4OCw5LjQxNyAxNy4zNDUsMTAuOTM5IDE1LjUwNiwxMC45MzkgTDIuNTE4LDEwLjkzOSBDMC42MTYsMTAuOTM5IDAuOTM2LDkuNDE4IDEuNTE3LDguODM2IEw3Ljk2LDIuMzkyIEw3Ljk2LDIuMzkyIFoiIGZpbGw9IiM5MzkzOTMiIGNsYXNzPSJzaS1nbHlwaC1maWxsIi8+DQogICAgPC9nPg0KPC9zdmc+)}::-webkit-scrollbar-button:horizontal:increment:hover:not(:active){background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTdweCIgaGVpZ2h0PSIxN3B4IiB2aWV3Qm94PSIwIC0wLjUgMTcgMTciIHZlcnNpb249IjEuMSIgY2xhc3M9InNpLWdseXBoIHNpLWdseXBoLXRyaWFuZ2xlLXVwIj4NCiAgICANCiAgICA8dGl0bGU+MTIzNjwvdGl0bGU+DQogICAgDQogICAgPGRlZnMvPg0KICAgIDxnIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0eWxlPSImIzEwOyAgICB0cmFuc2Zvcm06IHJvdGF0ZSg5MGRlZykgdHJhbnNsYXRlWSgtMTJweCk7JiMxMDsiPg0KICAgICAgICA8cGF0aCBkPSJNNy45NiwyLjM5MiBDOC41NDEsMS44MTIgOS40ODIsMS44MTIgMTAuMDY0LDIuMzkyIEwxNi41MDYsOC44MzYgQzE3LjA4OCw5LjQxNyAxNy4zNDUsMTAuOTM5IDE1LjUwNiwxMC45MzkgTDIuNTE4LDEwLjkzOSBDMC42MTYsMTAuOTM5IDAuOTM2LDkuNDE4IDEuNTE3LDguODM2IEw3Ljk2LDIuMzkyIEw3Ljk2LDIuMzkyIFoiIGZpbGw9IiM0MzQzNDMiIGNsYXNzPSJzaS1nbHlwaC1maWxsIiBzdHlsZT0iJiMxMDsiLz4NCiAgICA8L2c+DQo8L3N2Zz4=)}::-webkit-scrollbar-button:horizontal:increment:active{background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTdweCIgaGVpZ2h0PSIxN3B4IiB2aWV3Qm94PSIwIC0wLjUgMTcgMTciIHZlcnNpb249IjEuMSIgY2xhc3M9InNpLWdseXBoIHNpLWdseXBoLXRyaWFuZ2xlLXVwIj4NCiAgICANCiAgICA8dGl0bGU+MTIzNjwvdGl0bGU+DQogICAgDQogICAgPGRlZnMvPg0KICAgIDxnIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0eWxlPSImIzEwOyAgICB0cmFuc2Zvcm06IHJvdGF0ZSg5MGRlZykgdHJhbnNsYXRlWSgtMTJweCk7JiMxMDsiPg0KICAgICAgICA8cGF0aCBkPSJNNy45NiwyLjM5MiBDOC41NDEsMS44MTIgOS40ODIsMS44MTIgMTAuMDY0LDIuMzkyIEwxNi41MDYsOC44MzYgQzE3LjA4OCw5LjQxNyAxNy4zNDUsMTAuOTM5IDE1LjUwNiwxMC45MzkgTDIuNTE4LDEwLjkzOSBDMC42MTYsMTAuOTM5IDAuOTM2LDkuNDE4IDEuNTE3LDguODM2IEw3Ljk2LDIuMzkyIEw3Ljk2LDIuMzkyIFoiIGZpbGw9IiNiZGJkYmQgICAgICAgICAgICAgIiBjbGFzcz0ic2ktZ2x5cGgtZmlsbCIvPg0KICAgIDwvZz4NCjwvc3ZnPg==)}
::-webkit-scrollbar-button:horizontal:decrement{background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTdweCIgaGVpZ2h0PSIxN3B4IiB2aWV3Qm94PSIwIC0wLjUgMTcgMTciIHZlcnNpb249IjEuMSIgY2xhc3M9InNpLWdseXBoIHNpLWdseXBoLXRyaWFuZ2xlLXVwIj4NCiAgICANCiAgICA8dGl0bGU+MTIzNjwvdGl0bGU+DQogICAgDQogICAgPGRlZnMvPg0KICAgIDxnIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0eWxlPSImIzEwOyAgICB0cmFuc2Zvcm06IHJvdGF0ZSgtOTBkZWcpIHRyYW5zbGF0ZVgoLTE3cHgpOyYjMTA7Ij4NCiAgICAgICAgPHBhdGggZD0iTTcuOTYsMi4zOTIgQzguNTQxLDEuODEyIDkuNDgyLDEuODEyIDEwLjA2NCwyLjM5MiBMMTYuNTA2LDguODM2IEMxNy4wODgsOS40MTcgMTcuMzQ1LDEwLjkzOSAxNS41MDYsMTAuOTM5IEwyLjUxOCwxMC45MzkgQzAuNjE2LDEwLjkzOSAwLjkzNiw5LjQxOCAxLjUxNyw4LjgzNiBMNy45NiwyLjM5MiBMNy45NiwyLjM5MiBaIiBmaWxsPSIjOTM5MzkzIiBjbGFzcz0ic2ktZ2x5cGgtZmlsbCIvPg0KICAgIDwvZz4NCjwvc3ZnPg==)}::-webkit-scrollbar-button:horizontal:decrement:hover:not(:active){background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTdweCIgaGVpZ2h0PSIxN3B4IiB2aWV3Qm94PSIwIC0wLjUgMTcgMTciIHZlcnNpb249IjEuMSIgY2xhc3M9InNpLWdseXBoIHNpLWdseXBoLXRyaWFuZ2xlLXVwIj4NCiAgICANCiAgICA8dGl0bGU+MTIzNjwvdGl0bGU+DQogICAgDQogICAgPGRlZnMvPg0KICAgIDxnIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0eWxlPSImIzEwOyAgICB0cmFuc2Zvcm06IHJvdGF0ZSgtOTBkZWcpIHRyYW5zbGF0ZVgoLTE3cHgpOyYjMTA7Ij4NCiAgICAgICAgPHBhdGggZD0iTTcuOTYsMi4zOTIgQzguNTQxLDEuODEyIDkuNDgyLDEuODEyIDEwLjA2NCwyLjM5MiBMMTYuNTA2LDguODM2IEMxNy4wODgsOS40MTcgMTcuMzQ1LDEwLjkzOSAxNS41MDYsMTAuOTM5IEwyLjUxOCwxMC45MzkgQzAuNjE2LDEwLjkzOSAwLjkzNiw5LjQxOCAxLjUxNyw4LjgzNiBMNy45NiwyLjM5MiBMNy45NiwyLjM5MiBaIiBmaWxsPSIjNDM0MzQzIiBjbGFzcz0ic2ktZ2x5cGgtZmlsbCIgc3R5bGU9IiYjMTA7Ii8+DQogICAgPC9nPg0KPC9zdmc+)}::-webkit-scrollbar-button:horizontal:decrement:active{background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTdweCIgaGVpZ2h0PSIxN3B4IiB2aWV3Qm94PSIwIC0wLjUgMTcgMTciIHZlcnNpb249IjEuMSIgY2xhc3M9InNpLWdseXBoIHNpLWdseXBoLXRyaWFuZ2xlLXVwIj4NCiAgICANCiAgICA8dGl0bGU+MTIzNjwvdGl0bGU+DQogICAgDQogICAgPGRlZnMvPg0KICAgIDxnIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0eWxlPSImIzEwOyAgICB0cmFuc2Zvcm06IHJvdGF0ZSgtOTBkZWcpIHRyYW5zbGF0ZVgoLTE3cHgpOyYjMTA7Ij4NCiAgICAgICAgPHBhdGggZD0iTTcuOTYsMi4zOTIgQzguNTQxLDEuODEyIDkuNDgyLDEuODEyIDEwLjA2NCwyLjM5MiBMMTYuNTA2LDguODM2IEMxNy4wODgsOS40MTcgMTcuMzQ1LDEwLjkzOSAxNS41MDYsMTAuOTM5IEwyLjUxOCwxMC45MzkgQzAuNjE2LDEwLjkzOSAwLjkzNiw5LjQxOCAxLjUxNyw4LjgzNiBMNy45NiwyLjM5MiBMNy45NiwyLjM5MiBaIiBmaWxsPSIjYmRiZGJkICAgICAgICAgICAgICIgY2xhc3M9InNpLWdseXBoLWZpbGwiLz4NCiAgICA8L2c+DQo8L3N2Zz4=)}::-webkit-scrollbar-button:vertical:increment{background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTdweCIgaGVpZ2h0PSIxN3B4IiB2aWV3Qm94PSIwIC0wLjUgMTcgMTciIHZlcnNpb249IjEuMSIgY2xhc3M9InNpLWdseXBoIHNpLWdseXBoLXRyaWFuZ2xlLXVwIj4NCiAgICANCiAgICA8dGl0bGU+MTIzNjwvdGl0bGU+DQogICAgDQogICAgPGRlZnMvPg0KICAgIDxnIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0eWxlPSImIzEwOyAgICB0cmFuc2Zvcm06IHNjYWxlWSgtMSkgdHJhbnNsYXRlWSgtMTJweCk7JiMxMDsiPg0KICAgICAgICA8cGF0aCBkPSJNNy45NiwyLjM5MiBDOC41NDEsMS44MTIgOS40ODIsMS44MTIgMTAuMDY0LDIuMzkyIEwxNi41MDYsOC44MzYgQzE3LjA4OCw5LjQxNyAxNy4zNDUsMTAuOTM5IDE1LjUwNiwxMC45MzkgTDIuNTE4LDEwLjkzOSBDMC42MTYsMTAuOTM5IDAuOTM2LDkuNDE4IDEuNTE3LDguODM2IEw3Ljk2LDIuMzkyIEw3Ljk2LDIuMzkyIFoiIGZpbGw9IiM5MzkzOTMiIGNsYXNzPSJzaS1nbHlwaC1maWxsIi8+DQogICAgPC9nPg0KPC9zdmc+)}::-webkit-scrollbar-button:vertical:increment:hover:not(:active){background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTdweCIgaGVpZ2h0PSIxN3B4IiB2aWV3Qm94PSIwIC0wLjUgMTcgMTciIHZlcnNpb249IjEuMSIgY2xhc3M9InNpLWdseXBoIHNpLWdseXBoLXRyaWFuZ2xlLXVwIj4NCiAgICANCiAgICA8dGl0bGU+MTIzNjwvdGl0bGU+DQogICAgDQogICAgPGRlZnMvPg0KICAgIDxnIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0eWxlPSImIzEwOyAgICB0cmFuc2Zvcm06IHNjYWxlWSgtMSkgdHJhbnNsYXRlWSgtMTJweCk7JiMxMDsiPg0KICAgICAgICA8cGF0aCBkPSJNNy45NiwyLjM5MiBDOC41NDEsMS44MTIgOS40ODIsMS44MTIgMTAuMDY0LDIuMzkyIEwxNi41MDYsOC44MzYgQzE3LjA4OCw5LjQxNyAxNy4zNDUsMTAuOTM5IDE1LjUwNiwxMC45MzkgTDIuNTE4LDEwLjkzOSBDMC42MTYsMTAuOTM5IDAuOTM2LDkuNDE4IDEuNTE3LDguODM2IEw3Ljk2LDIuMzkyIEw3Ljk2LDIuMzkyIFoiIGZpbGw9IiM0MzQzNDMiIGNsYXNzPSJzaS1nbHlwaC1maWxsIiBzdHlsZT0iJiMxMDsiLz4NCiAgICA8L2c+DQo8L3N2Zz4=)}::-webkit-scrollbar-button:vertical:increment:active{background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTdweCIgaGVpZ2h0PSIxN3B4IiB2aWV3Qm94PSIwIC0wLjUgMTcgMTciIHZlcnNpb249IjEuMSIgY2xhc3M9InNpLWdseXBoIHNpLWdseXBoLXRyaWFuZ2xlLXVwIj4NCiAgICANCiAgICA8dGl0bGU+MTIzNjwvdGl0bGU+DQogICAgDQogICAgPGRlZnMvPg0KICAgIDxnIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0eWxlPSImIzEwOyAgICB0cmFuc2Zvcm06IHNjYWxlWSgtMSkgdHJhbnNsYXRlWSgtMTJweCk7JiMxMDsiPg0KICAgICAgICA8cGF0aCBkPSJNNy45NiwyLjM5MiBDOC41NDEsMS44MTIgOS40ODIsMS44MTIgMTAuMDY0LDIuMzkyIEwxNi41MDYsOC44MzYgQzE3LjA4OCw5LjQxNyAxNy4zNDUsMTAuOTM5IDE1LjUwNiwxMC45MzkgTDIuNTE4LDEwLjkzOSBDMC42MTYsMTAuOTM5IDAuOTM2LDkuNDE4IDEuNTE3LDguODM2IEw3Ljk2LDIuMzkyIEw3Ljk2LDIuMzkyIFoiIGZpbGw9IiNiZGJkYmQgICAgICAgICAgICAgIiBjbGFzcz0ic2ktZ2x5cGgtZmlsbCIvPg0KICAgIDwvZz4NCjwvc3ZnPg==)}::-webkit-scrollbar-button:vertical:decrement{background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTdweCIgaGVpZ2h0PSIxN3B4IiB2aWV3Qm94PSIwIC0wLjUgMTcgMTciIHZlcnNpb249IjEuMSIgY2xhc3M9InNpLWdseXBoIHNpLWdseXBoLXRyaWFuZ2xlLXVwIj4NCiAgICANCiAgICA8dGl0bGU+MTIzNjwvdGl0bGU+DQogICAgDQogICAgPGRlZnMvPg0KICAgIDxnIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPg0KICAgICAgICA8cGF0aCBkPSJNNy45NiwyLjM5MiBDOC41NDEsMS44MTIgOS40ODIsMS44MTIgMTAuMDY0LDIuMzkyIEwxNi41MDYsOC44MzYgQzE3LjA4OCw5LjQxNyAxNy4zNDUsMTAuOTM5IDE1LjUwNiwxMC45MzkgTDIuNTE4LDEwLjkzOSBDMC42MTYsMTAuOTM5IDAuOTM2LDkuNDE4IDEuNTE3LDguODM2IEw3Ljk2LDIuMzkyIEw3Ljk2LDIuMzkyIFoiIGZpbGw9IiM5MzkzOTMiIGNsYXNzPSJzaS1nbHlwaC1maWxsIi8+DQogICAgPC9nPg0KPC9zdmc+)}::-webkit-scrollbar-button:vertical:decrement:hover:not(:active){background-image:url(data:image/svg+xml;base64,DQo8c3ZnIHdpZHRoPSIxN3B4IiBoZWlnaHQ9IjE3cHgiIHZpZXdCb3g9IjAgLTAuNSAxNyAxNyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiBjbGFzcz0ic2ktZ2x5cGggc2ktZ2x5cGgtdHJpYW5nbGUtdXAiPg0KICAgIA0KICAgIDx0aXRsZT4xMjM2PC90aXRsZT4NCiAgICANCiAgICA8ZGVmcz48L2RlZnM+DQogICAgPGcgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+DQogICAgICAgIDxwYXRoIGQ9Ik03Ljk2LDIuMzkyIEM4LjU0MSwxLjgxMiA5LjQ4MiwxLjgxMiAxMC4wNjQsMi4zOTIgTDE2LjUwNiw4LjgzNiBDMTcuMDg4LDkuNDE3IDE3LjM0NSwxMC45MzkgMTUuNTA2LDEwLjkzOSBMMi41MTgsMTAuOTM5IEMwLjYxNiwxMC45MzkgMC45MzYsOS40MTggMS41MTcsOC44MzYgTDcuOTYsMi4zOTIgTDcuOTYsMi4zOTIgWiIgZmlsbD0iIzQzNDM0MyIgY2xhc3M9InNpLWdseXBoLWZpbGwiPjwvcGF0aD4NCiAgICA8L2c+DQo8L3N2Zz4=)}::-webkit-scrollbar-button:vertical:decrement:active{background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTdweCIgaGVpZ2h0PSIxN3B4IiB2aWV3Qm94PSIwIC0wLjUgMTcgMTciIHZlcnNpb249IjEuMSIgY2xhc3M9InNpLWdseXBoIHNpLWdseXBoLXRyaWFuZ2xlLXVwIj4NCiAgICANCiAgICA8dGl0bGU+MTIzNjwvdGl0bGU+DQogICAgDQogICAgPGRlZnMvPg0KICAgIDxnIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPg0KICAgICAgICA8cGF0aCBkPSJNNy45NiwyLjM5MiBDOC41NDEsMS44MTIgOS40ODIsMS44MTIgMTAuMDY0LDIuMzkyIEwxNi41MDYsOC44MzYgQzE3LjA4OCw5LjQxNyAxNy4zNDUsMTAuOTM5IDE1LjUwNiwxMC45MzkgTDIuNTE4LDEwLjkzOSBDMC42MTYsMTAuOTM5IDAuOTM2LDkuNDE4IDEuNTE3LDguODM2IEw3Ljk2LDIuMzkyIEw3Ljk2LDIuMzkyIFoiIGZpbGw9IiNiZGJkYmQgICAgICAgICAgICAgIiBjbGFzcz0ic2ktZ2x5cGgtZmlsbCIvPg0KICAgIDwvZz4NCjwvc3ZnPg==);background-repeat:no-repeat}::-webkit-scrollbar-button:vertical:decrement{;background-repeat:no-repeat;background-size:50%;background-position:48% 50%}::-webkit-scrollbar-button:vertical:increment{;background-repeat:no-repeat;background-size:50%;background-position:49.5% 50%}
::-webkit-scrollbar-button:horizontal:increment{;background-repeat:no-repeat;background-size:50%;background-position:55% 40%}::-webkit-scrollbar-button:horizontal:decrement{;background-repeat:no-repeat;background-size:50%;background-position:45% 43%}::-webkit-scrollbar-button{cursor:pointer !important}::-webkit-scrollbar{background:inherit;width:18px;height:18px}::-webkit-scrollbar:window-inactive{}::-webkit-scrollbar-track:disabled{border:10px dashed rgba(128,128,128,.2)}::-webkit-scrollbar-button:disabled{background:inherit}::-webkit-scrollbar:vertical{outline:1px solid rgba(128,128,128,.2)}::-webkit-scrollbar:horizontal{outline:1px solid rgba(128,128,128,.2)}::-webkit-scrollbar-button,::-webkit-scrollbar-corner{cursor:pointer}::-webkit-scrollbar-corner{outline:1px inset rgba(128,128,128,.2)}::-webkit-scrollbar-button,::-webkit-scrollbar-corner{background:inherit}::-webkit-scrollbar-button:horizontal:decrement,::-webkit-scrollbar-button:horizontal:decrement:hover,::-webkit-scrollbar-button:horizontal:increment,::-webkit-scrollbar-button:horizontal:increment:hover,::-webkit-scrollbar-button:vertical:decrement,::-webkit-scrollbar-button:vertical:decrement:hover,::-webkit-scrollbar-button:vertical:increment,::-webkit-scrollbar-button:vertical:increment:hover{height:18px;width:18px}
::-webkit-scrollbar-thumb,::-webkit-scrollbar-thumb:hover{border-radius:9px;border:solid 5px transparent;background-clip:content-box}::-webkit-scrollbar-thumb:vertical,::-webkit-scrollbar-thumb:vertical:hover{border-left:solid 5px transparent}::-webkit-scrollbar-thumb:horizontal,::-webkit-scrollbar-thumb:horizontal:hover{border-top:solid 5px transparent}::-webkit-scrollbar-button:horizontal{border-left:solid 1px transparent;background-clip:content-box}::-webkit-scrollbar-button:vertical{border-top:solid 1px transparent;background-clip:content-box}::-webkit-scrollbar-thumb:vertical:active{border-radius:1px;border:solid 2px transparent}::-webkit-scrollbar-thumb:horizontal:active{border-radius:1px;border:solid 2px transparent}::-webkit-scrollbar-thumb{background-color:#b0b0b0}::-webkit-scrollbar-thumb:hover{background-color:#999}::-webkit-scrollbar-thumb:vertical{min-height:32px}::-webkit-scrollbar-thumb:horizontal{min-width:32px}

/*scrollbar section end*/

:root[light] {
    --bordercolor: #d0d7de;
    --bordercolor: #ded7d0;
    --df-color: #24292f;
    --mutedcl: #57606a;
    --sepia-color: #ffffe7;
    --bg-color: #fefeea;
    --headerbg: #f6f8fa;
    --headerbg: #faf8f6;

    --classic-font: Georgia, Times, 'Times New Roman', serif;
}


::selection, ::-moz-selection {
    background: rgba(29, 153, 255, 0.438) !important;
}

body, html {
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    color: var(--df-color);
    background-color: var(--bg-color);
    font-family: helvetica, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
}

@keyframes fadein {
    from{margin-left:-29px; margin-right:-29px; transform:translateX(-10px)}
    to{margin-left:0px;margin-right:0px; transform:translateX(0px)}
}

pseudo {
    position:absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    padding:0px;
    overflow: auto;
    font-size:1.3rem;
    transition: all 1s ease;
    animation:1s forwards fadein ease;
    animation-fill-mode: forwards;
}

.title {
    font-size:2.3rem;
    text-align:left;
    font-weight: 600;
    padding-top: 16px;
    margin: 0px 8px 0px 0px;
    letter-spacing: -.1rem;
}

.subtitle {
    font-size:2rem;
    text-align:left;
    font-weight: 600;
    padding-top: 16px;
    margin: 0px 8px 0px 0px;
    letter-spacing: -.1rem;
}

[subheading] {
    border-bottom: 1px solid var(--headerbg);
    margin-block-start: 1em;
    margin-block-end: 0.3em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

[heading] {
    border-bottom: 1px solid var(--bordercolor);
    margin-block-start: 1em;
    margin-block-end: 0.3em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

heading-time, [datetime] {
    color: var(--mutedcl);
    user-select: none !important;
    font-size:1rem;
}

br {
    user-select: none !important;
}

colr {
    margin-bottom: 5rem;
    overflow: visible;
    height: max-content;
}

[txt] {
    margin-block-start: .7em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 2rem;
}

desc {
    font-size:1.3rem;
    text-indent: 3rem;
    font-family:var(--classic-font);
}

[para-start]::first-letter {
    font-size:2.42rem;
    font-family: var(--classic-font);
}

p {
    font-size:1.3rem;
    text-indent: 3rem;
    font-family: var(--classic-font)
}

[textblock] {
    font-size:1.3rem;
    text-indent: 3rem;
}

[classic-font] {
    font-family: var(--classic-font)
}

[flex] {
    display:flex;
}

[flex-col] {
    flex-direction: column;
}

[flex-row] {
    flex-direction: row;
}

[df-padding] {
    padding:16px
}

[col-content] {
    max-width:840px;
}

[center] {
    place-content: center;
}

q::before, [quote]::before {
    content:"“"
}

q::after, [quote]::after {
    content:"”"
}

[quoter] {
    border-left: 5px solid var(--bordercolor);
    padding: 10px;
    padding-left: 15px
}

m::before {
    color:var(--mutedcl);
    font-style: italic;
}

m[sic]::before {
    content:"[sic]";
}

m[what]::before {
    content:"[?]"
}

[right] {
    text-align: right;
    width: 100%;
}

[muted] {
    color: var(--mutedcl)
}

[crediting]::before {
    content: "– "
}

[no-pointer-events] {
    pointer-events: none;
}

boxhead {
    background-color: var(--headerbg);
    max-width: 840px;
    box-sizing: border-box;
    width:100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding:16px;
    border-bottom:1px solid var(--bordercolor);
    position:sticky;
    top:-6px;
    margin-bottom:6px;
    height:57px;
}

box {
    border: 1px solid var(--bordercolor);
    border-radius: 6px;
    box-sizing: border-box;
}

boxcontent {
    padding:16px;
    margin:16px;
}

[block] {
    display:block
}

hr {
    border:0px;
    border-bottom:1px solid var(--bordercolor) !important;
    width:98%;
}

astr {
    width:100%;
    text-align: center;
    font-family: var(--classic-font);
    font-size: 2rem;
}

[hide1] {
    height:2rem;
    overflow:hidden;
    transition: 1s all ease ;
    border-bottom: 3px inset darkgray ;
}

[hide1]:focus {
    height:22rem;
}

[bracketus]::before {
    content:"("
}

[bracketus]::after {
    content:")"
}

span[fakecontrol] {
    user-select: none;
    cursor:pointer;
}

[hider2] {
    width: 30%;
    height: 1.8rem;
    overflow:hidden;
    text-overflow: ellipsis;
    transition: all 1s ease
}

[hider2]:hover, [hider2]:focus {
    width: 100%;
}

[hide3] {
    height:2rem;
    overflow:hidden;
    text-overflow: ellipsis;
    transition: all 1s ease
    ;border-bottom: 3px inset darkgray ;
}

[hide3]:focus {
    height: 135rem;
}

[thenblock] * {
    display:block
}
